<span>{{ title }} app is running!</span>
<!-- <app-employee></app-employee> -->
<!-- <app-parent></app-parent> -->
<!-- <app-two-way-binding> -->
<!-- <app-ng-if-example></app-ng-if-example> -->
<!-- <app-ng-switch-example></app-ng-switch-example> -->
<!-- <app-attributeng-style-ex></app-attributeng-style-ex> -->
<!-- <app-attributeng-class-ex> -->
<!-- <app-own-directive-ex> -->
<!-- <app-built-in-pipes> -->
<!-- <app-parameterized-pipes></app-parameterized-pipes> -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<!-- <app-life-cycle-hooks> -->
<!-- <app-ser-product></app-ser-product> -->
<app-http-get-ex></app-http-get-ex>
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-observable-ex> -->
    <!-- <app-change-detect-ex> -->
<!-- <app-animation-ex></app-animation-ex> -->
<!-- <app-flip-animation-ex></app-flip-animation-ex> -->
<!-- <app-emp21></app-emp21> -->
<!-- <app-apr21-parent></app-apr21-parent> -->