<p>ng-if-example works!</p>
<div>
    <input type="radio" name="rb" (click)="ChangeData(true)" checked> Valid
    <input type="radio" name="rb" (click)="ChangeData(false)"> Invalid
</div>



<!-- <div *ngIf="isValid">
    <b>The Data is valid.</b>
</div>

<div *ngIf="!isValid">
    <b>The Data is invalid.</b>
</div> -->



<!-- <div *ngIf="isValid else elseblock">
    <b>The Data is valid.</b>
</div>

<ng-template #elseblock>
    <div>
        <b>The Data is invalid.</b>
    </div>
</ng-template> -->



<!-- <div *ngIf="isValid then thenblock else elseblock"> </div>

<ng-template #thenblock>
    <div>
        <b>The is Then Block</b>
    </div>
</ng-template>

<ng-template #elseblock>
    <div>
        <b>The is Else Block</b>
    </div>
</ng-template> -->
